body {
    background-image:url(sea.jpg)
}
.a {
    width: 1000px;
    height: 700px;
    margin: auto;
    color: black;/*文字色*/
    background: #e2f9fa;
    border: solid 3px rgb(175, 237, 253);/*線*/
    border-radius: 10px;/*角の丸み*/
}
img{
    width: 500px;
    height: 500px;
    border-radius:50%;
    border: solid 2px black;
    margin-top: 60px;
    margin-left: 0px;
}
.flex{
    display: flex;
}
.a span{
    display: inline-block;
    margin: 100px 0 0 30px;
    font-size: x-large;
}
.b{
    font-size: 70px;
    text-align: center;
}
.image span{
    background: linear-gradient(transparent 50%, #a8eaff 50%);
}
